{% extends "layout.html" %}
{% block content %}
<title>Edit Review</title>
<head>
<style>
div.review {
    max-width: 500px;
    white-space: pre-wrap
}
</style>
</head>
{% if moderator %}
<form action="/moderate_review" method="POST">
Delete: <br>
{% if report %}
<input type="radio" name="delete" value="3" checked> Delete Report
{% else %}
<input type="radio" name="delete" value="0" checked> No
{% endif %}
<input type="radio" name="delete" value="1"> Delete Review
<input type="radio" name="delete" value="2"> Delete User
<br>
<input type="hidden" name="review_id" value="{{ review[0] }}">
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
<br><br>
<input type="submit" value="Save changes">
</form>
{% endif %}
{% if writer %}
<form action="/edit_review" method="POST">
Delete Review: <br>
{% if moderator2 %}
{% if report %}
<input type="radio" name="delete" value="3" checked> Delete Report
{% else %}
<input type="radio" name="delete" value="0" checked> No
{% endif %}
{% else %}
<input type="radio" name="delete" value="0" checked> No
{% endif %}
<input type="radio" name="delete" value="1"> Yes
<br>
Current Review:
<div class="review">
{{ review[1] }}</div><br>
New Review: <br>
<textarea maxlength="5000" name="review" rows="25" cols="50"></textarea>
</p>
<br>
Current Score: <br>
{{ review[2] }}<br>
New Score:
<select name="score">
<option value="{{ review[2] }}" selected> Keep the same
{% for i in range(1,11) %}
<option value="{{ i }}"> {{ i }}
{% endfor %}
</select>
<br>
<input type="hidden" name="review_id" value="{{ review[0] }}">
<input type="hidden" name="work_id" value="{{ review[4] }}">
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
<br><br>
<input type="submit" value="Save changes">
</form>
{% endif %}
<br><br>
{% endblock %}