<!DOCTYPE html>
<title>Edit Comment</title>
<head>
<style>
div.comment {
    border-style: solid;
    max-width: 300px;
    white-space: pre-wrap
}
</style>
</head>
{% if moderator %}
<form action="/edit_comment" method="POST">
User: {{ comment[0] }}<br>
Comment:<br>
<div class="comment">
{{ comment[1] }}</div><br>
Original review:<br>
<div class="comment">
{{ comment[2] }}</div><br><br>
Delete comment: <br>
<input type="radio" name="delete" value="0" checked> No
<input type="radio" name="delete" value="1"> Yes
<input type="hidden" name="comment_id" value="{{ id }}">
<br><br>
{% if writer %}
Edit comment:<br>
<textarea maxlength="3000" name="writing" rows="6" cols="36"></textarea><br><br>
{% endif %}
<input type="submit" value="Save changes">
</form>
<br><br>
{% endif %}
<a href="/">Return to front page</a>