<!DOCTYPE html>
<title>Edit Comment</title>
<head>
<style>
div.comment {
    border-style: solid;
    max-width: 300px;
    white-space: pre-wrap
}
</style>
</head>
{% if moderator %}
<form action="/moderate_comment" method="POST">
User: {{ comment[0] }}<br>
Comment:<br>
<div class="comment">
{{ comment[1] }}</div><br>
Original review:<br>
<div class="comment">
{{ comment[2] }}</div><br><br>
Delete: <br>
{% if report %}
<input type="radio" name="delete" value="3" checked> Delete Report
{% else %}
<input type="radio" name="delete" value="0" checked> No
{% endif %}
<input type="radio" name="delete" value="1"> Delete Comment
<input type="radio" name="delete" value="2"> Delete User
<input type="hidden" name="comment_id" value="{{ id }}">
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
<br><br>
<input type="submit" value="Save changes">
</form>
<br><br>
{% endif %}
{% if writer %}
<form action="/edit_comment" method="POST">
Comment:<br>
<div class="comment">
{{ comment[1] }}</div><br>
Delete comment: <br>
{% if moderator2 %}
{% if report %}
<input type="radio" name="delete" value="3" checked> Delete Report
{% else %}
<input type="radio" name="delete" value="0" checked> No
{% endif %}
{% else %}
<input type="radio" name="delete" value="0" checked> No
{% endif %}
<input type="radio" name="delete" value="1"> Yes
<input type="hidden" name="comment_id" value="{{ id }}">
<input type="hidden" name="review_id" value="{{ comment[3] }}">
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
<br><br>
Edit comment:<br>
<textarea maxlength="3000" name="writing" rows="6" cols="36"></textarea><br><br>
<input type="submit" value="Save changes">
</form>
<br><br>
{% endif %}
<a href="/">Return to front page</a>