<!DOCTYPE html>
<title>Comment replies</title>
<head>
<style>
div.comment {
    border-style: solid;
    max-width: 300px;
    white-space: pre-wrap
}
div.reply {
    border-style: solid;
    max-width: 300px;
    white-space: pre-wrap;
    margin-left: 30px;
}
</style>
</head>
{{ comment[0] }}
<div class="comment">
{{ comment[1] }}</div><br>
{% if session.username %}
<form action="/reply" method="POST">
<input type="hidden" name="id" value="{{ id }}">
<input type="hidden" name="comment_id" value="{{ comment_id }}">
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
Post a public reply <br>
<textarea maxlength="3000" name="reply" rows="6" cols="36"></textarea><br>
<input type="submit" value="Reply"><br><br>
</form>
{% endif %}
{% for reply in replies %}
{{ reply[0] }}
<div class="reply">
{{ reply[1] }}</div>
{% if reply[3] %}
<a href="/edit/reply/{{ reply[2] }}">Edit reply</a><br><br>
{% else %}
<a href="/report/reply/{{ reply[2] }}">Report reply</a><br><br>
{% endif %}
{% endfor %}
<br><br>
<a href="/review/{{ id }}">Return to review</a><br>
<a href="/">Return to front page</a>