<!DOCTYPE html>
<title>{{ review[0] }} Review</title>
<head>
<style>
div.review {
    max-width: 500px;
    white-space: pre-wrap
}
div.comment {
    border-style: solid;
    max-width: 300px;
    white-space: pre-wrap
}
</style>
</head>
<h1>Review of {{ review[0] }}</h1>
{% if writer %}
<a href="/edit/review/{{ id }}">Edit review</a><br>
{% endif %}
{% if moderator %}
<a href="/edit/review/{{ id }}">Delete review</a>
{% endif %}
<p>
User: {{ review[1] }} <br>
Score: {{ review[2] }} <br>
</p>
Review:
<div class="review">
{{ review[3] }}</div><br>
<a href="/report/review/{{ id }}">Report review</a>
<br>
<h3>Comments</h3>
{% if session.username %}
<form action="/comment" method="POST">
<input type="hidden" name="id" value="{{ id }}">
Post a public comment <br>
<textarea maxlength="3000" name="comment" rows="6" cols="36"></textarea><br>
<input type="submit" value="Comment"><br><br>
{% endif %}
<br>
{% for comment in comments %}
{{ comment[0] }}
<div class="comment">
{{ comment[1] }}</div><br>
<a href="/review/{{ id }}/{{ comment[2] }}">Read replies</a>
{% if comment[4] %}
<br><a href="/edit/comment/{{ comment[2] }}">Edit comment</a>
{% endif %}
<br><a href="/report/comment/{{ comment[2] }}">Report comment</a><br><br>
{% endfor %}
<br><br>
<a href="/">Return to front page</a>