<!DOCTYPE html>
<title>Write Review</title>
{% if session.username %}
<form action="/send" method="POST">
Name of Work: <br>  
<input type="text" name="name" oninvalid="alert('Name must be between 1-50 characters');" pattern=".{1,50}" required>
<br><br>
Type:
<p>
<input type="radio" name="type" value="movie" checked> Movie
<input type="radio" name="type" value="tv-series"> TV-series
<input type="radio" name="type" value="book"> Book
<input type="radio" name="type" value="comic"> Comic
<input type="radio" name="type" value="comic"> Game
<input type="radio" name="type" value="other"> Other
</p>
<p>
Publishing Year: <br>
<select name="year">
<option value="0"> Other
{% for i in range(1800,2021) %}
<option value="{{ i }}"> {{ i }}
{% endfor %}
<option value="2021" selected> 2021
</select>
<br>
Language: <br>
<select name="language">
<option value="English" selected> English
<option value="Spanish"> Spanish
<option value="Chinese"> Chinese
<option value="Japanese"> Japanese
<option value="Finnish"> Finnish
<option value="Swedish"> Swedish
<option value="Other"> Other
</select>
<br>
Review: <br>
<textarea name="review" rows="25" cols="50"></textarea>
</p>
<br>
Score:
<select name="score">
<option value="1" selected> 1
{% for i in range(2,11) %}
<option value="{{ i }}"> {{ i }}
{% endfor %}
</select>
<br><br>
<input type="submit" value="Post Review">
</form>
{% else %}
<p>
You must be logged in to write reviews.    
</p>
{% endif %}
<br>
<br>
<a href="/">Return to front page</a>